html {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: -2px;
}
*, *:before, *:after {
    box-sizing: inherit;
}

#container {
    width: 300px;
    margin: auto;
    position: relative;

    #app-name {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        border-bottom: 1px solid #808080;
        padding: 14px 0;
    }

    #main-timer {
        width: 171px;
        margin: 27px auto 7px;

        span {
            text-align: center;
            font-size: 46px;
            letter-spacing: -8px;
            display: inline-block;
            margin-right: 3px;
        }

        .minutes:after {
            content: ':';
        }

        .seconds:after {
            content: '.';
        }
    }

    #lap-holder {
        margin: 9px auto 0;
        width: 77px;
        display: inline-block;
        position: absolute;
        right: 65px;

        span {
            text-align: right;
            display: inline-block;
            margin-right: 3px;
        }

        .minutes:after {
            content: ':';
        }

        .seconds:after {
            content: '.';
        }
    }

    #interface {
        border-bottom: 1px solid #808080;
        border-top: 1px solid #808080;
        padding: 20px 0;
        position: relative;
        background-color: #d3d3d3;

        span {
            display: table-cell;
            vertical-align: middle;
            border: 1px solid #808080;
            border-radius: 100%;
            font-weight: bold;
            height: 60px;
            width: 60px;
            text-align: center;
            cursor: pointer;
            background-color: #fff;
        }

        span.start {
            border-color: #008000;
            color: #008000;
            position: relative;
            left: 70px;
        }

        span.stop {
            border-color: #ff0000;
            color: #ff0000;
            position: relative;
            left: 70px;
        }

        span.lap {
            position: relative;
            left: 109px;
        }
    }

    #lap-list {
        .lap-list-item {
            display: block;
            border-bottom: 1px solid #808080;
            background-color: #d3d3d3;
            position: relative;
            height: 45px;

            span {
                font-size: 22px;
                top: 9px;
            }

            .minutes {
                position: relative;
                left: 42%;
            }

            .seconds {
                position: relative;
                left: 42%;
            }

            .milliseconds {
                position: relative;
                left: 42%;
            }

            .minutes:after {
                content: ':';
            }

            .seconds:after {
                content: '.';
            }

            .lap-count {
                width: 55px;
                display: inline-block;
                position: relative;
                left: 22px;
            }
        }
    }
}